# Ignore environment variables
.env
.env.*

# Ignore OS/system files
.DS_Store
Thumbs.db

# Ignore node and Python dependencies
node_modules/
__pycache__/
*.pyc

# Ignore build artifacts
dist/
build/
